#cpProgramHeader {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

#cpWeekHeader {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

#cpButtonsHeader {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

#submitDayBtnContainer {
    margin-left: 32%;
}

#programsDropdownContainer {
    margin-left: auto;
    margin-right: auto;

}

#closeOffProgBtnContainer {
    margin-right: 30%;
}

.pageRowContainer {
    display: flex;
    flex-direction: row;
}
#cpExerciseSpreadTableContainer {
    width: 50%;
}
#cpLoadingSpreadTableContainer {
    width: 50%;
}

.ui.celled.table {
    border: none !important;
    background: inherit !important;
}

#currentWeekExTableContainer {
    width: 50%;
}

#availExerciseTableContainer {
    width: 49%;
}

#cpModalGoalsLabelContainer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.cpModalGoalInputChildContainer {
    margin: 5px;
    margin-top: 10px;
}

.cpModalModifyNumGoalsBtn:hover {
    /* box-shadow: 0 0 5px white; */
}

#noGoalsPromptContainer {
    display: flex;
    flex-direction: column;
}

#noGoalsPromptLabel {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

/* #noGoalsPromptLabelContainer {
    margin-bottom: 10px;
} */
.goalsPromptBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.editGoalTableBtnContainer {
    display: flex;
    flex-direction: row;
}