#cpProgramHeader {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

#cpWeekHeader {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

#cpButtonsHeader {
    padding: 30px;
    display: flex;
    flex-direction: row;
}

#submitDayBtnContainer {
    margin-left: 32%;
}

#programsDropdownContainer {
    margin-left: auto;
    margin-right: auto;

}

#closeOffProgBtnContainer {
    margin-right: 30%;
}

.pageRowContainer {
    display: flex;
    flex-direction: row;
}
#cpExerciseSpreadTableContainer {
    width: 50%;
}
#cpLoadingSpreadTableContainer {
    width: 50%;
}

.ui.celled.table {
    border: none !important;
    background: inherit !important;
}

#currentWeekExTableContainer {
    width: 50%;
}

#availExerciseTableContainer {
    width: 49%;
}

#cpModalGoalsLabelContainer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.cpModalGoalInputChildContainer {
    margin: 5px;
    margin-top: 10px;
}

.cpModalModifyNumGoalsBtn:hover {
    /* box-shadow: 0 0 5px white; */
}

#noGoalsPromptContainer {
    display: flex;
    flex-direction: column;
}

#noGoalsPromptLabel {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.goalsPromptBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.currDayExerciseBtnCol {
    width: 150px;
}

.editExBtnTrigger {
    padding-right: 10px;
}

.currDayExBtnContainer {
    display: inline-flex;
    width: fit-content;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.editGoalTableBtnContainer {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    width: fit-content;
    padding-bottom: 5px;
    margin-left: none;
    margin-right: none;
}

#cpPrevExModalPagContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
 #cpPrevExModalDayContainer {
    padding-top: 10px;
    padding-bottom: 10px;
 }

#cpViewPrevWeeksBtnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}


#availExerciseTableDropdown {
    width: 125px;
    margin-bottom: 3px;
}
.ui.fluid.selection.dropdown.availExerciseTableDropdown {
    background: transparent ;
    color: white;
    border: none;
    font-size: 13px;
    margin-top: 4px;
}

.ui.fluid.selection.dropdown.availExerciseTableDropdown > .divider.text {
    opacity: 0.6;
    font-weight: 200 !important;
}

.ui.fluid.selection.dropdown.availExerciseTableDropdown > .divider.text {
    color: white;
}

.ui.fluid.selection.dropdown.availExerciseTableDropdown:focus {
    color: white;
    border: none;  
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

.ui.fluid.selection.dropdown.availExerciseTableDropdown .item {
    background: #3F3F3F;
    color: white;
    border: none;
    font-size: 13px;
}

.ui.fluid.selection.dropdown.availExerciseTableDropdown .item:hover {
    background: #3b0380;
    color: white;
}

/* .ui.fluid.selection.dropdown.availExerciseTableDropdown .visible.menu.transition {
    background: ;
    border: none;
} */

.ui.fluid.selection.dropdown.availExerciseTableDropdown .disabled.item {
    background: #191919;
    border: none;
    opacity: 1;
}

.ui.fluid.selection.dropdown .disabled.item > .header.text {
    color: #BB86FC;
}

#cpPageNullDataProceedWarning {
    margin-bottom: 10px;
}

#cpPageSubmitDayWarningContent {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modalContentWarningHeader {
    text-align: center;
    color: #CF6679;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 10px;
}

#noPrevWeekExerciseDataHeader {
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.exerciseTableContainerHeaderDivContainer {
    display: flex;
    flex-direction: row;
}

.copyDayExerciseDataModalTextTrigger {
    color: #BB86FC;
    cursor: pointer;
}

.copyDayExerciseDataModalTextTrigger:hover {
    text-shadow: 0 0 10px #BB86FC;
}

.copyDayExerciseDataTextTriggerContainer {
    padding-left: 20px;
}

#copyEntirePrevWeekDataBtnContainer {
    display: flex;
    justify-content: center;
}

#availExercises-ExData-toggleContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#programOwnerHeaderDiv {
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
}

#sequenceNameHeaderDiv {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}