
/*************************/
/*************************/
/*Dark Mode Colour Scheme*/
/*************************/
/*************************/

.ui.header {
    color: white;
    font-weight: 87%;
}

.ui.fluid.container {
    background:  #121212;
    padding: 40px;
}


/*colors all input text */
.ui.mini.input input{
    background: #333333;
    color: white;
}

/*Colour of input focus */
.ui.mini.input input:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection*/
.ui.mini.input input::selection {
    background: #BB86FC;
    color: white;
}

/*************************/
/*************************/
/******Small Modals*******/
/*************************/
/*************************/


.ui.small.modal.transition.visible.active 
> .ui.form
> .content label {
    color: white;
    font-weight: 87%;
}

.ui.small.modal.transition.visible.active 
> .ui.form
> .content {
    margin: 10px;
    color: white;
    font-weight: 87%;
}

/*Background of a small modal*/
.ui.small.modal.transition.visible.active {
    background:#191919;
}

/*Background of a small modal header*/
.ui.small.modal.transition.visible.active > .header {
    background: #121212;
    color: white;
    font-weight: 87%;
}

/*Alignment of the buttons in a small modal*/
.ui.small.modal.transition.visible.active 
> .ui.form 
> .actions {
    margin: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

/*Colour of submit buttons in small modals*/
.ui.small.modal.transition.visible.active
> .ui.form 
> .actions 
> .ui.button.submitBtn {
    color: #121212;
    background: #BB86FC;
}

/*Colour of delete buttons in small modals*/
.ui.small.modal.transition.visible.active
> .ui.form 
> .actions 
> .ui.button.deleteBtn {
    color:  #121212;
    background: #CF6679;
}

/*Colour of inputs in small modals*/
.ui.small.modal.transition.visible.active input {
    color: white;
    font-weight: 87%;
    background: #333333;
}

/*Colour of input focus in small modals*/
.ui.small.modal.transition.visible.active input:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection in small modals*/
.ui.small.modal.transition.visible.active input::selection {
    background: #BB86FC;
    color: white;
}


/*colors all input text */
.ui.small.modal.transition.visible.active textarea {
    background: #333333;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    outline: 0px;
    border: none;

}

/*Colour of input focus */
.ui.small.modal.transition.visible.active textarea:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection*/
.ui.small.modal.transition.visible.active textarea::selection {
    background: #BB86FC;
    color: white;
}

/*************************/
/*************************/
/*******Drop Downs********/
/*************************/
/*************************/

/*Colour of dropdown selection*/
.ui.fluid.selection.dropdown {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.fluid.selection.dropdown:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

.ui.active.visible.fluid.selection.dropdown {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    color: white;
    font-weight: 87%;
}

.ui.fluid.selection.dropdown:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of dropdown selection item*/
.ui.fluid.selection.dropdown div {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.fluid.selection.dropdown div:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    background: #BB86FC;
}


/*************************/
/*************************/
/*******Drop Downs FLUID********/
/*************************/
/*************************/

/*Colour of dropdown*/



/*Colour of dropdown selection*/
.ui.fluid.selection.dropdown {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.fluid.selection.dropdown:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

.ui.active.visible.fluid.selection.dropdown {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    color: white;
    font-weight: 87%;
}

.ui.fluid.selection.dropdown:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of dropdown selection item*/
.ui.fluid.selection.dropdown div {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.fluid.selection.dropdown div:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    background: #BB86FC;
}

/*************************/
/*************************/
/*******Drop Downs NON Fluid********/
/*************************/
/*************************/

/*Colour of dropdown selection*/
.ui.selection.dropdown {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.selection.dropdown:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

.ui.active.visible.selection.dropdown {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    color: white;
    font-weight: 87%;
}

.ui.selection.dropdown:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of dropdown selection item*/
.ui.selection.dropdown .item {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.selection.dropdown .selected.item {
    color: white;
    font-weight: 87%;
    background: #868cfc;
}

.ui.selection.dropdown div:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    background: #BB86FC;
}
/*************************/
/*************************/
/*******Drop Downs NON Fluid NON SELECTION ********/
/*************************/
/*************************/

/*Colour of dropdown selection*/
.ui.dropdown {
    color: white;
    font-weight: 87%;
    background: #333333;
    height: 35px;
    width: 175px;
    border-radius: 5px;
    padding: auto;
}

.ui.dropdown:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

.ui.active.visible.dropdown {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    color: white;
    font-weight: 87%;
}

.ui.dropdown:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of dropdown selection item*/
.ui.dropdown div {
    color: white;
    font-weight: 87%;
    background: #333333;
}

.ui.dropdown div:hover {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    background: #BB86FC;
}

.exerciseTableContainer {
    padding: 5px;
}

.recharts-default-tooltip {
    background-color:  #333333 !important;
    border: 1px solid #333333 !important;
    border-radius: 5px;
}

.recharts-text.recharts-label tspan {
    fill: white;
    font-size: medium;
}

.recharts-brush-slide {
    fill: #333333;
    fill-opacity: 1;
}










/*************************/
/*************************/
/******Small Carousel Modals*******/
/*************************/
/*************************/


.ui.small.modal.transition.visible.active .content label {
    color: white;
    font-weight: 87%;
}

.ui.small.modal.transition.visible.active .ui.form {
    margin: 10px;
    color: white;
    font-weight: 87%;
}

/*Background of a small modal*/
.ui.small.modal.transition.visible.active .content {
    background:#191919;
}
.ui.small.modal.transition.visible.active .actions {
    background:#191919;
}

/*Background of a small modal header*/
.ui.small.modal.transition.visible.active > .header {
    background: #121212;
    color: white;
    font-weight: 87%;
}

/*Alignment of the buttons in a small modal*/
.ui.small.modal.transition.visible.active 
> .ui.form 
> .actions {
    margin: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
}

/*Colour of submit buttons in small modals*/
.ui.small.modal.transition.visible.active .ui.button.submitBtn {
    color: #121212;
    background: #BB86FC;
}

/*Colour of delete buttons in small modals*/
.ui.small.modal.transition.visible.active .ui.button.deleteBtn {
    color:  #121212;
    background: #CF6679;
}

/*Colour of inputs in small modals*/
.ui.small.modal.transition.visible.active input {
    color: white;
    font-weight: 87%;
    background: #333333;
}

/*Colour of input focus in small modals*/
.ui.small.modal.transition.visible.active input:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection in small modals*/
.ui.small.modal.transition.visible.active input::selection {
    background: #BB86FC;
    color: white;
}


/*colors all input text */
.ui.small.modal.transition.visible.active textarea {
    background: #333333;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    outline: 0px;
    border: none;

}

/*Colour of input focus */
.ui.small.modal.transition.visible.active textarea:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection*/
.ui.small.modal.transition.visible.active textarea::selection {
    background: #BB86FC;
    color: white;
}