.ui.segment.clndr-calendars-segment.clndr-floating.clndr-left {
    background: #393F44;
}

.clndr-cell {
    color: white;
    background: #424242;
}

.ui.basic.compact.icon.button {
    color: white;
}

.ui.compact.fluid.button.clndr-button-today {
    color: block;
    background: #BB86FC;
}

.clndr-cell.clndr-cell-disabled {
    background: #191919;
    color: white;
}

.clndr-cell.clndr-cell-selected {
    box-shadow: 0 0 5px #BB86FC;
    border: 2px solid #BB86FC;
}


#hpModalGoalsLabelContainer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
#hpModalSubGoalsLabelContainer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.hpModalGoalInputChildContainer {
    margin: 5px;
    margin-top: 10px;
}

.hpModalModifyNumGoalsBtn:hover {
    /* box-shadow: 0 0 5px white; */
}