.ui.segment.clndr-calendars-segment.clndr-floating.clndr-left {
    background: #333333;
}

.clndr-cell {
    color: white;
    background: #424242;
}

.ui.basic.compact.icon.button {
    color: white;
}

.ui.compact.fluid.button.clndr-button-today {
    color: block;
    background: #BB86FC;
}

.clndr-cell.clndr-cell-disabled {
    background: #191919;
    color: white;
}

.clndr-cell.clndr-cell-selected {
    box-shadow: 0 0 5px #BB86FC;
    border: 2px solid #BB86FC;
}


#hpModalGoalsLabelContainer {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
#hpModalSubGoalsLabelContainer {
    padding-top: 20px;
    padding-bottom: 0px;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
}

.hpModalGoalInputChildContainer {
    margin: 5px;
    margin-top: 10px;
}

.hpCPModalGoalContainer {
    display: flex;
    flex-direction: column;
    background: #121212;
    padding: 5px;
    padding-top: 10px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
}

.hpCPModalGoalContainer.subgoal {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
}

.hpCPModalAttributesContainer {
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 5px;
}

.hpCPModalDescriptionContainer {
    width: 50%;
}

.hpCPModalDateContainer {
    width: 25%;
    padding-left: 5px;
    padding-right: 5px;
}

.hpCPModalDifficultyContainer {
    width: 25%;
}

.ui.icon.input.goalDate {
    width: inherit !important;
}

.hpCPModalDateContainer .field {
    width: 100%;
}

#mainHeaderText {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    text-align: center;
}

#hpStatHeaderContainer {
    display: flex;
}

#hpStatHeaderContainer > div {
    width: 33%;
    text-align: center;
}

#hpStatHeaderContainer > div .value {
    width: 100%;
}
#hpStatHeaderContainer > div .label {
    width: 100%;
}

.ui.tiny.inverted.statistic.hpStatHeaderSC1 > div {
    text-align: right;
}
.ui.tiny.inverted.statistic.hpStatHeaderSC3 > div {
    text-align: left;
}

#hpBtnContainer {
    display: flex;
    flex-direction: row;
}

#hpLeftBtnContainer {
    width: 33%;
    display: flex;
    justify-content: flex-end;
}
#hpMidBtnContainer {
    width: 33%;
    display: flex;
    justify-content: center;
}
#hpRightBtnContainer {
    width: 33%;
    display: flex;
    justify-content: flex-start;
}


