
.react-joyride__tooltip button[aria-label="Next"] {
    color: black !important;
}

.react-joyride__tooltip button[aria-label="Last"] {
    color: black !important;
}

.react-joyride__tooltip button[aria-label="Skip"] {
    color: white !important;
}