
#corvusStrengthHeader {
    font-size: calc(2vw + 3vh + 1vmin);
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: normal;
}


#landingPageHeaderContainer {
    width: 100%;

}

#CTAImpactStatement {
    font-size: calc(1vw + 1vh + 1vmin);
    color: white;
    text-align: center;
    line-height: normal;
    margin-top: 80px;
    line-height: normal;
}

#CTA4THeader {
    font-size: calc(1vw + 2vh + 1vmin);
    color: white;
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    line-height: normal;
}

#CTAContainerButtonDiv {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}


@media screen
and (max-width: 600px) {
    #CTAImpactStatement {
        margin-top: 50px;
    }

    #CTA4THeader {
        margin-top: 40px;
    }
}

@media screen
    and (max-width: 400px) {
        #CTA4THeader {
            font-size: calc(1vw + 2vh + 2vmin);
            line-height: normal;
            padding-top: 20px;
            padding-bottom: 0px;
        }

        #corvusStrengthHeader {
            font-size: calc(3vw + 3vh + 2vmin);
            margin-top: 10px;

        }

        #CTAImpactStatement {
            font-size: calc(1vw + 1vh + 2vmin);
        }
    }


#lpSignUpBtn {
    padding: 10px;
}

#lpLearnMoreBtn {
    padding: 10px;
}


#mountainPicture {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../components/Landing/images/crow3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-rows: auto auto;
}
