#createTeamBtnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#programAssignmentCardGroupContainer {
    padding-top: 30px;
    padding-bottom: 20px;
    height: auto;
}

#programAssignmentCardGroupContainer > .ui.cards > div {
    width: 33%;
    display: flex;
    justify-content: center;
    min-width: 250px;
    margin-bottom: 50px;
}

#programAssignmentCardGroupContainer .ui.cards .ui.card {
    background: #191919;
}

#assignProgramsCardGroupContainer {
    padding-top: 30px;
    padding-bottom: 20px;
}

#assignProgramsCardGroupContainer > .ui.cards > div {
    width: 50%;
    display: flex;
    justify-content: center;
}

#assignProgramsCardGroupContainer .ui.cards .ui.card {
    background: #191919;
}

#changeAccessTypeBtn {
    padding-top: 10px;
}

#mixedAccessHeaderText {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

#assignProgramsToTeamNowHeader {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}