.pageContainerLevel1 {
    margin: 10px;
    background: #191919;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.pageContainerLevel2 {
    background: #252525;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.half-width {
    width: 50%;
}

.centred-info {
    display: flex;
    justify-content: center;   
}

.centeredPageContainerLabel {
    display: flex;
    justify-content: center;
}


#muscleListActiveMuscleLabel {
    color:#BB86FC;
}

#muscleListActiveMuscleGroupLabel {
    color: #868cfc;
}

.paragraphDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.rightAlignedButton {
    display: flex;
    justify-content: flex-end;
}

.lightPurpleText {
    color:#BB86FC;

}

.vert-aligned {
    display: flex;
    align-items: center;
}

.clickableDiv {
    cursor: pointer;
}

.pageMainHeader {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

.pageSubHeader1 {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

.pageSubHeader2 {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

.sml-margin-top {
    margin-top: 10px;
}

.med-margin-bottom {
    margin-bottom: 15px;
}

