.pageContainerLevel1 {
    margin: 10px;
    background: #191919;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.pageContainerLevel2 {
    background: #252525;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.pageContainerLevel1.half-width {
    width: 50%;
}

.centeredPageContainerLabel {
    display: flex;
    justify-content: center;
}