.pageContainerLevel1 {
    margin: 10px;
    background: #191919;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.pageContainerLevel2 {
    background: #252525;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.clickableDiv label:hover {
    cursor: pointer;
}


.rowContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer {
    display: flex;
    flex-direction: column;  
}

.half-width {
    width: 50%;
}

.centred-info {
    display: flex;
    justify-content: center;   
}

.centeredPageContainerLabel {
    display: flex;
    justify-content: center;
}


#muscleListActiveMuscleLabel {
    color:#BB86FC !important;
}

#muscleListActiveMuscleGroupLabel {
    color: #868cfc;
}

.paragraphDiv {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}

.rightAlignedButton {
    display: flex;
    justify-content: flex-end;
}

.lightPurpleText {
    color:#BB86FC;
}

.vert-aligned {
    display: flex;
    align-items: center;
}

.clickableDiv {
    cursor: pointer;
}

.pageMainHeader {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

.pageSubHeader1 {
    padding: 20px;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}

.pageSubHeader2 {
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}

.sml-margin-top {
    margin-top: 10px;
}

.tiny-margin-top {
    margin-top: 2px;
}

.sml-margin-left {
    margin-left: 10px;
}

.med-margin-bottom {
    margin-bottom: 15px;
}

.graphTitle {
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
}

.tableHeader {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 10px;
}

.errorMessageContainer > p {
    color: #CF6679;
    margin-bottom: 10px;
    text-align: center;
}

.errorBannerContainer {
    display: flex;
    justify-content: center;
}

.errorBanner {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    background: #CF6679;
    width: 50%;
    /* border-radius: 5px; */
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    padding: 15px;
    border: 1px solid #db2828;
}

.errorBannerClose:hover {
    cursor: pointer;
}

.pageForm {
    padding: 20px;
}

.formButtonContainer {
    margin-top: 10px;
}

.pageBodyLoaderContainer {
    display: flex;
    align-items: center;
    height: 80vh;
}

.pageBodyContentMainHeader {
    width: 100%
}

#nonLandingPageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nonLandingPageBodyContentWrapper {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1320px;
    width: 100%;
}