#ppProgramHeader {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

#ppSchemeHeader {
    padding: 20px;
    padding-top: 10px;
    font-size: 25px;
    text-align: center;   
}

#ppCurrentProgramHeader {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
}

#ppGenInfoTableLabel {
    font-size: 20px;
}

#ppProgNotesLabel {
    font-size: 20px;
}

#ppLoadInfoTableLabel {
    font-size: 20px;
}

#ppPageBodyPartListContainer {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

#ppPageLoadInfoContainer {
    width: 80%;
    padding: 10px;
}

#ppNoLoadInfoString {
    font-size: 20px;
    color: white;
    text-align: center;
}

#ppPageGeneralStatsTable {
    padding: 20px;
}

#ppProgramNotesTextArea {
    width: 100%;
    resize: none;
    min-height: 200px;
}

#ppProgramNotesBtnContainer {
    display: flex;
    justify-content: flex-end;
}

#ppProgramNotesBtnContainer > button {
    margin-top: 5px;
    margin-right: 0px !important;
}

#pastprogGoalChartsRow {
    display: flex;
    justify-content: center;
}

#ppGoalTableLabel {
    font-size: 20px;
    text-align: center;
}

#ppPageExGoalHistBtnContainer {
padding-top: 80px;
}