#ppProgramHeader {
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

#ppSchemeHeader {
    padding: 20px;
    padding-top: 10px;
    font-size: 25px;
    text-align: center;   
}

#ppCurrentProgramHeader {
    padding: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    width: 200px;
    margin: auto;
}

#ppGenInfoTableLabel {
    font-size: 20px;
}

#ppLoadInfoTableLabel {
    font-size: 20px;
    margin-bottom: 0px;
}

#ppPageBodyPartListContainer {
    width: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

#ppPageLoadInfoContainer {
    width: 80%;
    padding: 10px;
}

#ppNoLoadInfoString {
    font-size: 20px;
    color: white;
    text-align: center;
}