.ui.auth-nav-bar.menu.landingPageNav {
    /* background: #333333; */
    background: transparent;
    /* background: #191919; */
    border: none;
    box-shadow: none;
    width: 100%;
    /* height: 75px; */
    /* position: absolute;
    top: 0px; */
}

.ui.auth-nav-bar.menu {
    background: #333333;
    border: none;
    box-shadow: none;
    height: 75px;
    width: 100%;
}

.ui.auth-nav-bar.menu .item {
    color: white;
}

.ui.auth-nav-bar.menu .active.item {
    color: #868cfc;
}
.ui.auth-nav-bar.menu .active.item:hover {
    color: #868cfc;
}

.ui.auth-nav-bar.menu .item:hover {
    color: white;
}

.ui.not-auth-nav-bar.menu.landingPageNav {
    background: transparent;
    border: none;
    box-shadow: none;
    height: 75px;
    width: 100%;
}

.ui.not-auth-nav-bar.menu {
    background: #333333;
    border: none;
    box-shadow: none;
    height: 75px;
    width: 100%;
}

.ui.not-auth-nav-bar.menu .item {
    color: white;
}

.ui.not-auth-nav-bar.menu .active.item {
    color: #868cfc;
}
.ui.not-auth-nav-bar.menu .active.item:hover {
    color: #868cfc;
}

.ui.not-auth-nav-bar.menu .item:hover {
    color: white;
}

#smlScreenMenuContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

#smlScreenMenuToggle {
    padding-left: 5px;
}

#smlScreenMenuCorvusIcon {
    padding-top: 10px;
    padding-bottom: 10px;
}

.smlScreenMenuItem.active > a {
    text-shadow: 0 0 20px #868cfc;
    color: #868cfc;
}

#smlScreenLandingMenu {
    width: 100%
}