.ui.cards .ui.card {
    width: 150px;
    /* color: white; */
}

.ui.cards .ui.card .content.iconContent {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    height: 100px;
}

.ui.cards .ui.card .content div {
    color: white;
}

.ui.cards .ui.card .content {
    border-top: solid 1px white;
}

.ui.cards .ui.card:hover {
    background: #191919;
}

.ui.cards {
    justify-content: space-evenly;
    flex-wrap: wrap;
}