
.ui.fluid.selection.dropdown {
    background: #333333;
    color: white;
    border: none;  
}

.ui.fluid.selection.dropdown > .divider.text {
    color: white;
}

.ui.fluid.selection.dropdown:focus {
    color: white;
    border: none;  
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

.ui.fluid.selection.dropdown .item {
    background: #333333;
    color: white;
    border: none;
}

.ui.fluid.multiple.selection.dropdown > a {
    background: #333333;
    color: white;
    border: 1px solid #BB86FC;
}

.ui.fluid.selection.dropdown .item:hover {
    background: #3b0380;
    color: white;
}

.ui.fluid.selection.dropdown .visible.menu.transition {
    background: #333333;
    border: none;
}

.ui.fluid.selection.dropdown .disabled.item {
    background: #191919;
    border: none;
    opacity: 1;
}

.ui.fluid.selection.dropdown .disabled.item > .header.text {
    color: #BB86FC;
}


