.ui.circular.button.backButton-inverted {
    background: transparent;
    color: #BB86FC;
}

.ui.button.addExerciseButton {
    background: #BB86FC;
}

.ui.button.closeOffPeriod {
    background: #868cfc;
    font-weight: 900;
    color:black;
}

.ui.button.purpleButton {
    background: #868cfc;
    font-weight: 900;
    color:black;
}
.ui.button.purpleButton:hover {
    box-shadow: 0 0 5px #868cfc;

}

.ui.button.lightPurpleButton {
    background:#BB86FC;
    font-weight: 900;
    color:black;
}
.ui.button.lightPurpleButton:hover {
    box-shadow: 0 0 5px #BB86FC;
}

.ui.button.purpleButton-inverted {
    background: inherit;
    font-weight: 900;
    color:#868cfc;
    border: 2px solid #868cfc;
}
.ui.button.purpleButton-inverted:hover {
    box-shadow: 0 0 5px #868cfc;
}

.ui.button.lightPurpleButton-inverted {
    background: inherit;
    border: 2px solid #BB86FC;
    font-weight: 900;
    color:#BB86FC;
}

.ui.button.lightRedButton-inverted:hover {
    box-shadow: 0 0 5px #CF6679;
}

.ui.button.lightRedButton-inverted {
    background: inherit;
    border: 2px solid #CF6679;
    font-weight: 900;
    color:#CF6679;
}

.ui.button.lightGreenButton-inverted:hover {
    box-shadow: 0 0 5px #8cfc86;
}

.ui.button.lightGreenButton-inverted {
    background: inherit;
    border: 2px solid #8cfc86;
    font-weight: 900;
    color:#8cfc86;
}

.ui.button.lightPurpleButton-inverted:hover {
    box-shadow: 0 0 5px #BB86FC;
}

.ui.button.undo-inverted {
    background: inherit;
    /* border: 2px solid #e5e5e5; */
    border: none;
    font-weight: 900;
    color: #e5e5e5;
    font-size: 10px;
}

.ui.button.tick-inverted {
    background: inherit;
    border: none;
    font-weight: 900;
    color: #8cfc86;
    font-size: 10px;
}

.ui.button.red-undo-inverted:hover {
    color: #BB86FC;
}

.ui.circular.icon.button.deleteExerciseButton {
    background: #CF6679;
}

.ui.circular.icon.button.deleteGoal {
    background: #CF6679;
}

.ui.circular.icon.button.completeGoal {
    background: #8cfc86;
    margin-right: 15px;
}

.ui.circular.icon.button.addSubGoal {
    background: #BB86FC;
}

.ui.loading.button.lightPurpleButton {
    background: #BB86FC;
}

.ui.buttons {
    border: 2px solid #BB86FC;
    border-radius: 5px;
    background: transparent;
}

.ui.buttons button {
    color: #BB86FC;
    background: transparent;
}

.ui.buttons button:hover {
    color: #BB86FC;
    background: transparent;
}

.ui.buttons .active {
    color: #BB86FC;
    background: #333333;
}
.ui.buttons .active:hover {
    color: #BB86FC;
    background: #333333;
}
