body {
    background-color: #121212;
    color: white;
}

div {
    color: white;
}

/*colors all input text */
input {
    background: #333333;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    outline: 0px;
    border: none;
}

/*Colour of input focus */
input:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
    background: #333333 !important;
    color: white !important;
}

/*Colour of input focus text selection*/
input::selection {
    background: #BB86FC;
    color: white;
}

/*colors all input text */
textarea {
    background: #333333;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    outline: 0px;
    border: none;
}

/*Colour of input focus */
textarea:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection*/
textarea::selection {
    background: #BB86FC;
    color: white;
}

a {
    color: #BB86FC;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
    color: #9f54fb;
}

label {
    color: white !important;
}