body {
    background-color: #121212;
    color: white;  
}

div {
    color: white;
}

/*colors all input text */
input {
    background: #393F44;
    color: white;
    height: 30px;
    border-radius: 5px;
    width: 100%;
    outline: 0px;
    border: none;
}

/*Colour of input focus */
input:focus {
    box-shadow: 0 0 5px #BB86FC;
    border: 1px solid #BB86FC;
}

/*Colour of input focus text selection*/
input::selection {
    background: #BB86FC;
    color: white;
}